<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/Main_layout}">
<head>
<style>

.fa-address:before {
    content: "\f015";
}

.address1{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#addressSearch{
	 color:#2eca6a;
	 border: 2px solid #2eca6a;
}

#addressSearch:hover{
 	 background-color: #2eca6a; 
	 color: white;
	 border-radius: 1rem;
	 border: 2px solid #2eca6a;
}

#card-header{
	 background-color: turquoise;
	 color: white;
}

#rjcc{
	margin-top:50px;
	margin-bottom:50px;
	border-radius: 1rem;
	font-size:25px;
}

#signUp{
	 background-color:turquoise;
	 color: white;
	 border-radius: 1rem;
	 border:1px solid white;
}

#signUp:hover{
	 background-color:white;
	 color: turquoise;
	 border-radius: 1rem;
	 border:2px solid turquoise;
}

#checkEmail{
	 font-size:60%;
 	 background-color: white; 
	 color: #2eca6a;
	 border-radius: 1rem;
	 border: 2px solid #2eca6a;
}

#checkEmail:hover{
 	 background-color: #2eca6a; 
	 color: white;
	 border-radius: 1rem;
	 border: 2px solid #2eca6a;
}

#allRegister{
	font-family: 'Jua', sans-serif;
}

#addressSearch{
	font-size:60%;
}

.swal-button{
	background-color:#2eca6a;
}

#introduce{
	font-size:60%;
}

#gender{
	font-size:80%;
}

#animal{
	font-size:60%;
}

</style>
	  <!-- sign up form -->
	  <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	  <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	  <!-- sign up -->
  	  <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
</head>
<body>

<!-- / content replace start -->
<div layout:fragment="content" id='allRegister'>
<div class="container">
	<div class="row justify-content-center" id="rjcc">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" id="card-header"><strong>KnockKnock 회원등록</strong></div>
                            <div class="card-body">
                                <form class="form-horizontal" id="form" method="post" onsubmit="return allCheck();" action="create">
                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">이름</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fas fa-signature" style="font-size:75%;"></i></span>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="cols-sm-2 control-label">이메일(아이디)</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                            	<input class='checkEmail' id='checkEmail' type="button" value="중복체크" onclick="regCheck()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                            	<span name="emailRegex" id="emailRegex" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickname" class="cols-sm-2 control-label">닉네임</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Enter your Username" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber" class="cols-sm-2 control-label">휴대폰번호</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fas fa-mobile-alt"></i></span>
                                                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Enter your phoneNumber" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">비밀번호</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">비밀번호 확인</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                            	<span name="passwordResult" id="passwordResult" style="display: none;">내용</span><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birth" class="cols-sm-2 control-label">생년월일</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-birthday-cake fa-lg" aria-hidden="true"></i></span>
                                                <input type="date" class="form-control" name="birth" id="birth" placeholder="your birthday" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">	
                                     	<label for="confirm" class="cols-sm-2 control-label">주소</label>
                                     	<div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-address fa" style="font-size: 38px;" aria-hidden="true"></i></span>
												<input class='address1' type="text" id="sample4_postcode" placeholder="우편번호">
											</div>
											<div class="input-group">
												<input class='address1' type="text" id="sample4_roadAddress" name="address" placeholder="도로명주소">
												<input class='address1' type="text" id="sample4_detailAddress" name="addressDetail" placeholder="상세주소">
												<input class='address1' type="text" id="sample4_extraAddress" placeholder="참고항목">
												<input class='address1' id='addressSearch' type="button" onclick="sample4_execDaumPostcode()" value="주소찾기">
												<span id="guide" style="color:#999;display:none"></span>
										 	</div>
                                        </div>
									</div>
						            <div class="form-group">	
                                     	<label for="confirm" class="cols-sm-2 control-label">자기소개</label>
                                     	<div class="cols-sm-10">
											<div class="input-group" style="margin-bottom:3%;">
												<span class="input-group-addon"><i class="far fa-user"></i></i></span>
												<input class='introduce' type="text" id="introduce" name="introduce" placeholder="introduce">
											 </div>
                                        </div>
                                        <label for="confirm" class="cols-sm-2 control-label">성별</label>
                                     	<div class="cols-sm-10">
											<div class="input-group" style="margin-bottom:3%;">
											    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
												<select name="gender" id='gender'>
													<option class='introduce' type="text" id="male" name="male" placeholder="male">남자</option>
													<option class='introduce' type="text" id="female" name="female" placeholder="female">여자</option>
										 		</select>
										 	</div>
                                        </div>
                                        <label for="confirm" class="cols-sm-2 control-label">반려동물</label>
                                     	<div class="cols-sm-10">
											<div class="input-group" style="margin-bottom:3%;">
												<span class="input-group-addon"><i class="fas fa-dog"></i></span>
												<input class='pet' type="text" id="animal" name="animal" placeholder="animal">
											 </div>
                                        </div>
                                        <label for="confirm" class="cols-sm-2 control-label">관심사(최대 3개 선택 가능)</label>
                                     	<div class="cols-sm-10">
											<div class="input-group">
											    <span class="input-group-addon"><i class="far fa-star"></i></span>
												<select name="favorite1" style="font-size:60%;">
													<option class='favorite1' type="text" id="male" name="favorite1">없음</option>
													<option class='favorite1' type="text" id="female" name="favorite1">IT</option>
													<option class='favorite1' type="text" id="female" name="favorite1">음악</option>
													<option class='favorite1' type="text" id="female" name="favorite1">쿠킹</option>
													<option class='favorite1' type="text" id="female" name="favorite1">전시/공연</option>
													<option class='favorite1' type="text" id="female" name="favorite1">커피</option>
													<option class='favorite1' type="text" id="female" name="favorite1">드로잉</option>
													<option class='favorite1' type="text" id="female" name="favorite1">영화</option>
													<option class='favorite1' type="text" id="female" name="favorite1">어학</option>
													<option class='favorite1' type="text" id="female" name="favorite1">패션</option>
													<option class='favorite1' type="text" id="female" name="favorite1">운동</option>
													<option class='favorite1' type="text" id="female" name="favorite1">게임</option>
													<option class='favorite1' type="text" id="female" name="favorite1">독서</option>
													<option class='favorite1' type="text" id="female" name="favorite1">와인</option>
													<option class='favorite1' type="text" id="female" name="favorite1">스터디</option>
										 		</select>
										 	</div>
										 	<div class="input-group">
											    <span class="input-group-addon"><i class="far fa-star"></i></i></span>
												<select name="favorite2" style="font-size:60%;">
													<option class='favorite2' type="text" id="male" name="favorite2">없음</option>
													<option class='favorite2' type="text" id="female" name="favorite2">IT</option>
													<option class='favorite2' type="text" id="female" name="favorite2">음악</option>
													<option class='favorite2' type="text" id="female" name="favorite2">쿠킹</option>
													<option class='favorite2' type="text" id="female" name="favorite2">전시/공연</option>
													<option class='favorite2' type="text" id="female" name="favorite2">커피</option>
													<option class='favorite2' type="text" id="female" name="favorite2">드로잉</option>
													<option class='favorite2' type="text" id="female" name="favorite2">영화</option>
													<option class='favorite2' type="text" id="female" name="favorite2">어학</option>
													<option class='favorite2' type="text" id="female" name="favorite2">패션</option>
													<option class='favorite2' type="text" id="female" name="favorite2">운동</option>
													<option class='favorite2' type="text" id="female" name="favorite2">게임</option>
													<option class='favorite2' type="text" id="female" name="favorite2">독서</option>
													<option class='favorite2' type="text" id="female" name="favorite2">와인</option>
													<option class='favorite2' type="text" id="female" name="favorite2">스터디</option>
										 		</select>
										 	</div>
										 	<div class="input-group">
											    <span class="input-group-addon"><i class="far fa-star"></i></span>
												<select name="favorite3" style="font-size:60%;">
													<option class='favorite3' type="text" id="male" name="favorite3">없음</option>
													<option class='favorite3' type="text" id="female" name="favorite3">IT</option>
													<option class='favorite3' type="text" id="female" name="favorite3">음악</option>
													<option class='favorite3' type="text" id="female" name="favorite3">쿠킹</option>
													<option class='favorite3' type="text" id="female" name="favorite3">전시/공연</option>
													<option class='favorite3' type="text" id="female" name="favorite3">커피</option>
													<option class='favorite3' type="text" id="female" name="favorite3">드로잉</option>
													<option class='favorite3' type="text" id="female" name="favorite3">영화</option>
													<option class='favorite3' type="text" id="female" name="favorite3">어학</option>
													<option class='favorite3' type="text" id="female" name="favorite3">패션</option>
													<option class='favorite3' type="text" id="female" name="favorite3">운동</option>
													<option class='favorite3' type="text" id="female" name="favorite3">게임</option>
													<option class='favorite3' type="text" id="female" name="favorite3">독서</option>
													<option class='favorite3' type="text" id="female" name="favorite3">와인</option>
													<option class='favorite3' type="text" id="female" name="favorite3">스터디</option>
										 		</select>
										 	</div>
                                        </div>
									</div>
                                    <div class="form-group ">
                                    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> 
                                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button" id='signUp'>회원가입</button>
                                    </div>
                                    <div class="login-register">
                                        <a href="/login">로그인 하러 갈래요</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
	//Ajax Okay용 벨류
	var regValue=0;
	var pwdValue=0;
    var roadAddress = $("#sample4_roadAddress").val();
    var detailAddress = $("#sample4_detailAddress").val();
	
	function allCheck(){
		if(regValue==1 && pwdValue==1){
			return true;
		}else{
			swal("입력란을 다시 확인해주세요!");
			return false;
		}
	};
	
    //주소API
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'block';
                }
            }
        }).open();
    }
    
 	//이메일(아이디)체크 관련
	function regCheck(){
	
		var emailReg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i; 
		var email = $("#email").val();
		var emailRegex = document.getElementById('emailRegex');
		
		if(emailReg.test(email)){
			emailRegex.style.display='block';
			emailRegex.innerHTML="이메일 형식이 일치합니다";
		}else{
			emailRegex.innerHTML="이메일 형식과 일치하지 않습니다";
			return false;
		}
	  		//이메일을 아작스로 보내서 체크 후 받기
			$.ajax({
				method:'post',
				url:'/checkEmail',
				data:JSON.stringify({"email":email}),
				dataType:"json",
				contentType:"application/json",
				success:function(data){
					emailRegex.innerHTML=data.email+" 는 이미 존재하는 아이디입니다";
					regValue=0;
				},
				error:function(data){
					emailRegex.innerHTML="아이디 사용이 가능합니다";
					regValue=1;
				}
			});
  	}
  	
  	//패스워드 체크 관련
  	var pwd = document.getElementById('password');
  	var pwdConfirm = document.getElementById('confirm');
  	var pwdResult = document.getElementById('passwordResult');
  	
  	pwdConfirm.addEventListener('blur',check);
  	
  	function check(){
  		if(pwd.value!=pwdConfirm.value){
  			 pwdResult.style.display='block';
             pwdResult.innerHTML = '비밀번호를 다시 입력해주세요 :(';
             pwd.focus();
			 pwdValue=0;
  		}else{
  			 pwdResult.style.display='none';
             pwdValue=1;
  		}
  	}
</script>
</div>
</body>
</html>