<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/Main_layout}">
<head>
<title>지점 수정 페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1, h2, h3, h4, h5, h6{
	font-family: 'Jua', sans-serif;
}
body {
	font-family: 'Jua', sans-serif;
	margin-top:80px;
}

.roomInfo input {
	width: 150px;
}
.sidenav {
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 130px;
	left: 60px;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
	margin-right: 40px;
}

#sidenav{
	background-color:white;
	border: 1px solid #2eca6a;
	color:#2eca6a;
	font-weight:bolder;
	border-radius: 1rem;

}

.sidenav a {
	padding: 10px 10px 10px 16px;
	text-decoration: none;
	font-size: 30px;
	color: #2eca6a;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}

#main {
	position:relative;
	margin-left: 90px; /* Same width as the sidebar + left position in px */
	margin-top:80px;
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#profileContainer {
	margin-left: 400px;
}

#suvContainer {
	font-family: 'Jua', sans-serif;
	width: 80%;
	height: 60%;
}

#title{
	color:#2eca6a;
	font-size:larger;
	font-weight:bolder;
	margin-bottom:30px;
}

#okay{
	color:white;
	background-color:#2eca6a;
	border-radius:1rem;
}

#okay:hover{
	color:#2eca6a;
	background-color:white;
	border:1px solid #2eca6a;
	border-radius:1rem;
}
</style>
</head>
<body>
	<div layout:fragment="content" class="container" id='suvContainer'>
		<form action="adminBranchModify" method="post"
			enctype="multipart/form-data" id='form'>
			<div class="row">
				<div class="col-md-2">
					<div class="sidenav" id='sidenav'>
						<a th:href="@{adminEventListView}">이벤트관리</a><br>
						<a th:href="@{adminMemberSearchView}">회원관리</a><br>
						<a th:href="@{adminVisitList}">방문문의관리</a><br>
						<a th:href="@{adminBranchRegistView}">지점등록</a><br>
					</div>
				</div>
				<div class="col-md-10">
					<h1 id='title'>지점 등록</h1>
					<div class="form-group">
						<h4>테마</h4>
						<input type="text" name="theme" class="form-control"
						placeholder="테마" th:value="${branchDTO.theme}">
						<h4>지점은행</h4>
						<input type="text" name="bankName" class="form-control"
							placeholder="지점 은행 이름" th:value="${branchDTO.bankName}">
						<h4>지점은행 예금주</h4>
						<input type="text" name="depositor" class="form-control"
							placeholder="예금주" th:value="${branchDTO.depositor}">
						<h4>지점은행 계좌</h4>
						<input type="text" name="branchAccount" class="form-control"
							placeholder="계좌번호" th:value="${branchDTO.branchAccount}">
						<h4>성별</h4>
						<select name="gender" th:field="*{branchDTO.gender}">
							<option value="공용">공용</option>
							<option value="남">남</option>
							<option value="여">여</option>
						</select>
						<h4>소개글</h4>
						<textarea name="branchComment">[[*{branchDTO.branchComment}]]</textarea>
						<h4>규칙</h4>
						<textarea name="rule">[[*{branchDTO.rule}]]</textarea>
						<h4>거주유형</h4>
						<input type="text" name="branchType" class="form-control"
							placeholder="예)아파트" th:value="${branchDTO.branchType}">
						<h4>주차장</h4>
						<select name="isParking" th:field="*{branchDTO.isParking}">
							<option value="있음">있음</option>
							<option value="없음">없음</option>
						</select>
						<h4>엘리베이터</h4>
						<select name="isElevator" th:field="*{branchDTO.isElevator}">
							<option value="있음">있음</option>
							<option value="없음">없음</option>
						</select>
						<h4>반려동물 가능여부</h4>
						<select name="pet"  th:field="*{branchDTO.pet}">
							<option value="가능">가능</option>
							<option value="불가능">불가능</option>
						</select>
						<h4>주소</h4>
						<div class="form-group">
							<!-- <label for="confirm" class="cols-sm-2 control-label">주소</label>  -->
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-address fa" aria-hidden="true"></i>
									</span> <input class='address1' type="text" name="postNumber"
										id="sample4_postcode" placeholder="우편번호">
									<div class="input-group">
										<input class='address1' type="text" name="address"
											id="sample4_roadAddress" placeholder="도로명주소"
											th:value="${branchDTO.address}"> <input
											class='address1' type="text" id="sample4_detailAddress"
											name="addressDetail" placeholder="상세주소"
											th:value="${branchDTO.addressDetail}"> <input
											class='address1' type="text" id="sample4_extraAddress"
											name="remainAddress" placeholder="참고항목"> <input
											class='address1' id='addressSearch' type="button"
											onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
										<span id="guide" style="color: #999; display: none"></span>
									</div>
								</div>
							</div>
						</div>
						<h4>지점 이미지</h4>
						<input type="file" name="branchImages" class="form-control"
							multiple="multiple">
						<h4>방 이미지</h4>
						<input type="file" name="roomImages" class="form-control"
							multiple="multiple">
						<h4>방 정보</h4>
						<table class="roomInfo" id='roomInfo' th:each="room:${roomVDTO}">
							<tr>
								<td>방 호수</td>
								<td>면적</td>
								<td>보증금</td>
								<td>성별</td>
								<td>방 타입</td>
							</tr>
							<tr>
								<td><input type="number" name="roomNumber"
									class="form-control" placeholder="방 호수 ex)101"
									th:value="${room.roomNumber}"></td>
								<td><input type="text" name="space" class="form-control"
									placeholder="면적 ex)12mx12m" th:value="${room.space}"></td>
								<td><input type="number" name="deposit"
									class="form-control" placeholder="보증금"
									th:value="${room.deposit}"></td>
								<td><select name="roomGender">
										<option value="공용">공용</option>
										<option value="남">남</option>
										<option value="여">여</option>
								</select></td>
								<td><select name="allowNumber">
										<option value="1인실">1인실</option>
										<option value="2인실">2인실</option>
										<option value="3인실">3인실</option>
										<option value="4인실">4인실</option>
								</select></td>
								
							</tr>
							<tr>
								<td>월세</td>
								<td>입주가능날짜</td>
							</tr>
							<tr>
								<td><input type="number" name="monthlyRent"
									class="form-control" placeholder="월세"
									th:value="${room.monthlyRent}"></td>
								<td><input type="date" name="rentableDate"
									class="form-control" th:value="${room.rentableDate}"></td>
							</tr>
						</table>
						<h4>방 추가</h4>
						<table class=roomInfo id="newRoomInfo">
							<tr>
								<td>방 호수</td>
								<td>면적</td>
								<td>보증금</td>
								<td>성별</td>
								<td>방 타입</td>
							</tr>
							<tr>
								<td><input type="number" name="newRoomNumber"
									class="form-control" placeholder="방 호수 ex)101"></td>
								<td><input type="text" name="newSpace" class="form-control"
									placeholder="면적 ex)12mx12m"></td>
								<td><input type="number" name="newDeposit"
									class="form-control" placeholder="보증금"></td>
								<td><select name="newRoomGender" class="form-control">
										<option value="남">남</option>
										<option value="여">여</option>
								</select></td>
								<td><select name="newAllowNumber" class="form-control">
										<option value="1인실">1인실</option>
										<option value="2인실">2인실</option>
										<option value="3인실">3인실</option>
										<option value="4인실">4인실</option>
								</select></td>
							</tr>
							<tr>
								<td>월세</td>
								<td>입주가능날짜</td>
							</tr>
							<tr>
								<td><input type="number" name="newMonthlyRent"
									class="form-control" placeholder="월세"></td>
								<td><input type="date" name="newRentableDate"
									class="form-control"></td>
							</tr>
						</table>
						<h4>공용 시설</h4>
						<input type="text" name="publicFacility" th:value="${branchDTO.facility}">
						<h4>개인 시설</h4>
						<input type="text" name="roomFacility" th:value="${roomVDTO.facility}">
					</div>
				</div>
				<input type="hidden" name="restRoom" th:value="${restRoom}">
				<input type="hidden" name="branchNumber" th:value="${branchDTO.branchNumber}">
				<button type="submit" class="btn btn-default" style="float: center;"
					id='okay'>완료</button>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
			</div>
		</form>

		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script>
			//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
			function sample4_execDaumPostcode() {
				new daum.Postcode(
						{
							oncomplete : function(data) {
								// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

								// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
								// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
								var roadAddr = data.roadAddress; // 도로명 주소 변수
								var extraRoadAddr = ''; // 참고 항목 변수

								// 법정동명이 있을 경우 추가한다. (법정리는 제외)
								// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraRoadAddr += data.bname;
								}
								// 건물명이 있고, 공동주택일 경우 추가한다.
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraRoadAddr += (extraRoadAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}
								// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
								if (extraRoadAddr !== '') {
									extraRoadAddr = ' (' + extraRoadAddr + ')';
								}

								// 우편번호와 주소 정보를 해당 필드에 넣는다.
								document.getElementById('sample4_postcode').value = data.zonecode;
								document.getElementById("sample4_roadAddress").value = roadAddr;

								// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
								if (roadAddr !== '') {
									document
											.getElementById("sample4_extraAddress").value = extraRoadAddr;
								} else {
									document
											.getElementById("sample4_extraAddress").value = '';
								}

								var guideTextBox = document
										.getElementById("guide");
								// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
								if (data.autoRoadAddress) {
									var expRoadAddr = data.autoRoadAddress
											+ extraRoadAddr;
									guideTextBox.innerHTML = '(예상 도로명 주소 : '
											+ expRoadAddr + ')';
									guideTextBox.style.display = 'block';

								} else {
									guideTextBox.innerHTML = '';
									guideTextBox.style.display = 'block';
								}
							}
						}).open();
			}
		</script>
	</div>
</body>
</html>

