<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/Main_layout}">
<head>
<style type="text/css">

body{
	font-family: 'Jua', sans-serif;
}

#jumbotronId{
    background-color: white;
}

.btn {
border-radius: 3px;
	font-weight: 100;
	border-color: transparent;
	background: #2eca6a;
	color: #fff;
	cursor: pointer;
}

.btn:hover {
	background-color:white;
	color:#2eca6a;
	border: 2px solid #2eca6a;
}


</style>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron" id="jumbotronId">
			<h1><span style="color:#2eca6a">모임</span>게시판</h1>
			<!-- 베너 -->
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<a href="/eventView?writingNumber=1" id="atag"><img class="d-block w-100" th:src="@{/images/event/banner/knockBanner1.jpg}" alt="첫번째 슬라이드"></a>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner/knockBanner2.jpg}" alt="두번째 슬라이드">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner/knockBanner3.jpg}" alt="세번째 슬라이드">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner/knockBanner4.jpg}" alt="네번째 슬라이드">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">이전</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">다음</span>
				</a>
			</div>
		 <!--  <span style="color:#2eca6a">관심사</span>로 검색하기
				<form action="/meetingList">
				<div>				
					<input class="form-check-input" type="radio" name="favorite" id="favorite1" value="전체보기">
					<label class="form-check-label" for="favorite1">전체보기</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite2" value="IT">
					<label class="form-check-label" for="favorite2">IT</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite3" value="게임">
					<label class="form-check-label" for="favorite3">게임</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite4" value="쿠킹">
					<label class="form-check-label" for="favorite4">쿠킹</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite5" value="커피">
					<label class="form-check-label" for="favorite5">커피</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite6" value="와인">
					<label class="form-check-label" for="favorite6">와인</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite7" value="영화">
					<label class="form-check-label" for="favorite7">영화</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite8" value="음악">
					<label class="form-check-label" for="favorite8">음악</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite9" value="전시/공연">
					<label class="form-check-label" for="favorite9">전시/공연</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite10" value="패션">
					<label class="form-check-label" for="favorite10">패션</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite11" value="드로잉">
					<label class="form-check-label" for="favorite11">드로잉</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite12" value="운동">
					<label class="form-check-label" for="favorite12">운동</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite13" value="스터디">
					<label class="form-check-label" for="favorite13">스터디</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite14" value="어학">
					<label class="form-check-label" for="favorite14">어학</label>
				</div>
				<div>
					<input class="form-check-input" type="radio" name="favorite" id="favorite15" value="독서">
					<label class="form-check-label" for="favorite15">독서</label>
				</div>
				<div>
					<input type="submit" value="검색">
				</div>
				</form> -->	
				<table class="table table-hover">
					<thead>
						<tr>
							<th>번호</th>
							<th>관심사</th>
							<th>제목</th>
							<th>작성자</th>
							<th>조회수</th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mt : ${MeetingList}">
							<td th:text="${mt.writingNumber}">번호</td>
							<td th:text="${mt.favorite}">관심사</td>
							<td><a th:href="@{/meetingView(writingNumber=${mt.writingNumber},page=${pageMaker.cri.page},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${mt.title}">제목</a></td>
							<td th:text="${mt.nickname}">작성자</td>
							<td th:text="${mt.hit}">조회수</td>
							<td th:text="${mt.writeTime}">작성일</td>
						</tr>
					</tbody>
				</table>
			<!-- 게시판 하단의 페이징 버튼 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:if="${pageMaker.prev} == true">
						<a class="page-link" th:href="@{/event/meetingList(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
					</li>
					<li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
						<a class="page-link" th:href="@{/meetingList(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
					</li>
					<li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
						<a class="page-link" th:href="@{/meetingList(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
					</li>
				</ul>
			</nav>
		<a th:href="@{/writeBoardForm}" class="btn btn-default font-weight-bold pull-right" id="moim" role="button">모임 만들기</a>
		<a th:href="@{/eventList}" class="btn btn-default font-weight-bold pull-left" id="moim1" role="button">이벤트 게시판</a>
			
		</div>

	</div>
</body>
</html>