<footer th:fragment="Footer"
xmlns:th="http://www.w3.org/1999/xhtml">
<!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand"></h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
              </p>
            </div>
            <div class="w-footer-a">
    
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand"></h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
     
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand"></h3>
            </div>
            <div class="w-body-a">
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">권오엽</a>
              </li>
              <li class="list-inline-item">
                <a href="#">권민희</a>
              </li>
              <li class="list-inline-item">
                <a href="#">노인재</a>
              </li>
              <li class="list-inline-item">
                <a href="#">배민철</a>
              </li>
              <li class="list-inline-item">
                <a href="#">안성현</a>
              </li>
            </ul>
          </nav>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Project
              <span class="color-a">KnockKnock</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->
  
</footer>